textarea{
    width: 50%;
    outline: none;
}

i.material-icons{
    font-size: 50px;
    color: #fff;
    background-color: #0d6efd;
    border-radius: 5px;
}

select{
    width: 50%;
    outline: none;
}

.anotherpage-button-link{
    width: 50%;
}

.flex-left-right{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-left-right button{
    width: 50%;
    margin-bottom: 10px;
}